.githup img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  left: 50px;
  top: 20px;
  z-index: 99;
}
#fullpage {
  height: 100%;
  width: 100%;
}
#fullpage .section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#fullpage .section1 .top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#fullpage .section1 .top img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#fullpage .section1 .top h3 {
  color: white;
}
#fullpage .section1 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: white;
}
#fullpage .section2 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#fullpage .section2 .introduce {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}
#fullpage .section2 .introduce .item {
  width: 100px;
  height: 134px;
  text-align: center;
}
#fullpage .section2 .introduce .item i {
  font-size: 80px;
}
#fullpage .section2 .introduce .item p {
  font-size: 20px;
  margin-top: 20px;
}
#fullpage .section2 .desc p {
  font-size: 18px;
  text-align: center;
}
#fullpage .section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#fullpage .section3 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#fullpage .section3 .container .left {
  font-size: 20px;
  text-align: center;
}
#fullpage .section3 .container .left li {
  list-style: none;
}
#fullpage .section3 .container .right {
  font-size: 18px;
  text-align: center;
}
#fullpage .section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#fullpage .section4 .container {
  width: 800px;
  height: 350px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #935b4b;
}
#fullpage .section4 .container .name {
  font-size: 24px;
  font-weight: bold;
}
#fullpage .section4 .container .time,
#fullpage .section4 .container .work {
  font-size: 18px;
}
#fullpage .section4 .container .job {
  color: black;
  font-size: 18px;
}
#fullpage .section5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#fullpage .section5 .display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1220px;
  flex-wrap: wrap;
}
#fullpage .section5 .display .item {
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 0 3px 0 black;
  border-radius: 5px;
  width: 564px;
  height: 189px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#fullpage .section5 .display .item .name {
  font-size: 20px;
  color: #49819c;
}
#fullpage .section5 .display .item .des {
  font-size: 14px;
  color: #000;
}
#fullpage .section6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#fullpage .section6 .des {
  width: 300px;
}
#fullpage .section6 .des .keywords {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}
#fullpage .section6 .des p {
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
#fullpage .section6 .des p:first-child {
  padding-top: 30px;
}
#fullpage .section6 .link {
  font-size: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}
