body {
    transform-style: preserve-3d;
}

.githup {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 50px;
    top: 20px;
    z-index: 99;
    .swiper-slide {
        img {
            width: 100px;
            height: 100px;
        }
    }
}

.center(@dir) {
    display: flex;
    flex-direction: @dir;
    justify-content: space-around;
    align-items: center;
}

#fullpage {
    height: 100%;
    width: 100%;
    .section1 {
        .center(column);
        .top {
            .center(column);
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
            h3 {
                color: white;
            }
        }
        .bottom {
            .center(column);
            font-size: 20px;
            color: white;
        }
    }
    .section2 {
        color: white;
        .center(column);
        .introduce {
            .center(row);
            width: 800px;
            .item {
                width: 100px;
                height: 134px;
                text-align: center;
                i {
                    font-size: 80px;
                }
                p {
                    font-size: 20px;
                    margin-top: 20px;
                }
            }
        }
        .desc {
            p {
                font-size: 18px;
                text-align: center;
            }
        }
    }
    .section3 {
        .center(column);
        color: white;
        .container {
            .center(row);
            .left {
                font-size: 20px;
                text-align: center;
                li {
                    list-style: none;
                }
            }
            .right {
                font-size: 18px;
                text-align: center;
            }
        }
    }
    .section4 {
        .center(column);
        color: white;
        .container {
            width: 800px;
            height: 350px;
            background-color: #fff;
            border-radius: 50px 20px;
            box-shadow: 5px 5px 10px 0 #000;
            color: black;
            .center(column);
            color: #935b4b;
            .name {
                font-size: 24px;
                font-weight: bold;
            }
            .time,
            .work {
                font-size: 18px;
            }
            .job {
                color: black;
                font-size: 18px;
            }
        }
    }
    .section5 {
        .center(column);
        color: white;
        .display {
            .center(column);
            .works-container {
                width: 800px;
                height: 400px;
                overflow: hidden;
                border-radius: 50px;
                background-color: #ccc;
                box-shadow: 5px 5px 10px 0 #000;
                .left,.right {
                    a {
                        &:hover {
                            img {
                                opacity: 1;
                            }
                        }
                        img {
                            width: 380px;
                            height: 380px;
                            margin: 10px;
                            border-radius: 50%;
                            opacity: .8;
                            box-shadow: 5px 5px 10px 0 #000;
                        }
                    }
                }
            }
        }
    }
    .section6 {
        .center(column);
        color: white;
        .des {
            width: 300px;
            .keywords {
                .center(row);
                font-size: 24px;
            }
            p {
                line-height: 40px;
                font-size: 20px;
                text-align: center;
                &:first-child {
                    padding-top: 30px;
                }
            }
        }
        .link {
            font-size: 60px;
            .center(row);
            width: 300px;
        }
    }
}